@{
    Layout = "_Layout";
    @model List<Gorev>;

}
<table class="table">
    <thead>
        <tr>

            <th scope="col">#</th>
            <th scope="col">Başlık</th>
            <th scope="col">Kaç Günlük</th>
            <th scope="col">Oluşturulma Tarihi</th>
            <th scope="col">Yapılacak</th>
            <th scope="col">Silme İşlemi</th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (var gorev in Model)
            {
            <tr>
                <th scope="row">@gorev.id</th>
                <td>@gorev.baslik</td>
                <td>@gorev.olusturulma.ToString("dd.MM.yyyy")</td>
                <td>@gorev.yazigirin</td>
                <form asp-controller="Create" asp-action="Tamamla" method="post">
                <td>
                    <div class="form-check">
                        <input type="text" name="id" class="form-control" value="@gorev.id" style="Display:none">
                        @{if(gorev.tamamlandi == true)
                            {
                                    @Html.CheckBox("Veri",true);
                            }
                           else{
                                    @Html.CheckBox("Veri")
                           }
                       }
                        <label class="form-check-label" for="flexCheckDefault">
                            Tamamlandı
                        </label>
                    </div>
                </td>
                <td><button type="submit" class="btn btn-primary">Güncelle</button></td>
                
                </form>
                <td>

                    <form asp-controller="Create" asp-action="Silme" method="post">
                        <input type="text" name="id" class="form-control" value="@gorev.id" style="Display:none">
                        <button type="submit" class="btn btn-primary">Sil</button>
                    </form>
                </td>
            </tr>
            }

        
        
    </tbody>
</table>